/* ---------- Font family ---------- */
$primary-font:        "Manrope", sans-serif;


$pcw:           #FFFFFF;
$pcg:           #ABAFB4;
$pcr:           #AD3434;
$pcb:          #000000;


/* ---------- Font weight ---------- */

$font-weight-light:                300;
$font-weight-regular:              400;
$font-weight-medium:               500;
$font-weight-semibold:             600;
$font-weight-bold:                 700;
$font-weight-extrabold:            800;


/* ---------- Font size ---------- */
$v-title-fs1:         48px;
$v-title-fs2:         40px;
$v-title-fs3:         32px;
$v-title-fs4:         30px;

$v-para-fs1:          16px;
$v-para-fs2:          14px;

$v-sub-title-fs1:     24px;
$v-sub-title-fs2:     20px;
$v-sub-title-fs3:     18px;





/* ---------- Border Radius ---------- */

$border-radius-small:              3px;
$border-radius-base:               5px;
$border-radius-medium:             10px;
$border-radius-large:              20px;
$border-radius-xlarge:              25px;

/* ---------- Screen size definitions ---------- */


$breakpoints: (

    sm:         576px,
    md:         768px,
    lg:         992px,
    xl:         1200px,
    xxl:        1400px,

);

/* ---------- Animation speed ---------- */

$animationSpeed: 40s;