/* ---------- Font weight ---------- */

$font-weight-light:                300;
$font-weight-regular:              400;
$font-weight-medium:               500;
$font-weight-semibold:             600;
$font-weight-bold:                 700;
$font-weight-extrabold:            800;

/* ---------- Border Radius ---------- */

$border-radius-small:              3px;
$border-radius-base:               5px;
$border-radius-medium:             10px;
$border-radius-large:              20px;
$border-radius-xlarge:              25px;


/* ---------- Screen size definitions ---------- */


$breakpoints: (

    sm:         576px,
    md:         768px,
    lg:         992px,
    xl:         1200px,
    xxl:        1400px,

);