@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
/* ---------- Primary font ---------- */
$primary-font:        'Corben', cursive!default;
/* ---------- Theme Colors ---------- */

$primary-white:                      #FFFFFF !default;
$secondary-white:                    #FFFFFF94 !default;
$primary-pink:                       #FFB79D !default;
$primary-green:                      #003A3A !default;
$secondary-green:                    #01474B !default;
$font-base:                          #003D41 !default;
$font-primary:                       #0F747A!default;
$primary-black:                      #231E20 !default;
$primary-grey:                       #7A97A6 !default;
$secondary-grey:                     #87ADBE!default;
$primary-hover:                      #01363A!default;

/* ---------- Padding and marign spacing ---------- */

$spacing-xsmall:                    10px;
$spacing-small:                    15px;
$spacing-base:                     20px;
$spacing-medium:                   50px;
$spacing-large:                    80px;
$spacing-xlarge:                   100px;


/* ---------- Typography - Font, line-height, and color for body text, headings, and more ---------- */

$font-family-base:                  'Titillium Web', sans-serif!default;

$font-size-base:                   14px !default;
$font-size-xsmall:                 ceil(($font-size-base * .75)) !default; // ~12px
$font-size-small:                  ceil(($font-size-base * .85)) !default; // ~14px
$font-size-large:                  ceil(($font-size-base * 1.1)) !default; // ~18px
$font-size-xlarge:                 ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-xxlarge:                 ceil(($font-size-base * 1.36)) !default; // ~22px

/* ---------- Font weight ---------- */

$font-weight-light:                300;
$font-weight-regular:              400;
$font-weight-medium:               500;
$font-weight-semibold:             600;
$font-weight-bold:                 700;
$font-weight-extrabold:            800;

/* ---------- Border Radius ---------- */

$border-radius-small:              3px;
$border-radius-base:               5px;
$border-radius-medium:             10px;
$border-radius-large:              20px;
$border-radius-xlarge:              25px;


/* ---------- Screen size definitions ---------- */


$breakpoints: (

    sm:         576px,
    md:         768px,
    lg:         992px,
    xl:         1200px,
    xxl:        1400px,

);